.sidebar_li
{
    padding:9px;
}
.sidebar_text{
    color:#000;
}



#filter-section{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 20px;
}

#fil{
    display: flex;
    flex-direction: row;
}

